#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.poster {
  aspect-ratio: 9 / 16;
  max-width: 60%;
  margin: auto;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.movie-grid {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

.details {
  padding: 18px 18px 20px;
  display: grid;
  gap: 8px;

  & h2 {
    font-size: 35px;
    margin: 0;
    color: red;
  }

  & p {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}