#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.poster {
  aspect-ratio: 9 / 16;
  max-width: 60%;
  margin: auto;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.movie-grid {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

.details {
  padding: 18px 18px 20px;
  display: grid;
  gap: 8px;

  & h2 {
    font-size: 35px;
    margin: 0;
    color: red;
  }

  & p {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(5, 8, 14, 0.8);
}

.modal-content {
  position: relative;
  background: #0f111a;
  padding: 1rem;
  width: min(900px, 90vw);
}

.modal-close {
  position: absolute;
  top: 0.35rem;
  right: 0.55rem;
  background: transparent;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  padding: 0.25rem 0.35rem;
  z-index: 999;
}
.video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56%;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


